
.face-recog-container {
    display: flex;
    justify-content: center;
}

.face-recog-container img {
    max-width: 500px;
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}